<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>KWCSSA Voting 2019</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="d-flex align-items-center" style="height: 100vh;">
      <form id="register-audience-form" action="javascript:void(0)" class="w-100 w-md-50">
        <div class="form-group">
          <label for="Add audience">Add audience: </label>
          <input type="text" class="form-control" id="register-audience-form-number" name="number" maxlength="10"
            minlength="10" placeholder="Phone number">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <small class="form-text" id="register-audience-form-message"></small>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script type="text/javascript">
    // Add audience logic
    $('#register-audience-form').submit((event) => {
      event.preventDefault();
      var number = Number($('#register-audience-form').serializeArray()[0].value);
      $.ajax({
        method: 'PUT',
        url: '/admin/register',
        dataType: 'json',
        data: {
          "number": number
        }
      }).done(data => {
        if (data.error === null) {
          $('#register-audience-form-number').val('');
          $('#register-audience-form-message').text('Success! Phone number registered');
          $('#register-audience-form-message').css({ color: 'green' });
        } else {
          $('#register-audience-form-message').text(data.error);
          $('#register-audience-form-message').css({ color: 'red' });
        }
      });
    });
    $('#access-register-audience').on('click', () => {
      window.location.href = "/admin/register"
    });
  </script>
</body>

</html>